<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<style>
    th{
        font-size:10px ;
    }

    td{
        font-size: 14px;
    }
</style>
<body class="container text-center" style="margin-bottom: 100px">
    <h1 style="margin-bottom: 100px;">
        MLG381 Project 1
    </h1>

    <div class="container">
        <div class="row">
            
            <!-- main content -->
            <div class="col" style="border: 1px solid red;">
                <!-- main image and 2 smaller images -->
                <div class="row">
                    <div class="col-8"; height: 30em;">
                        <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="../images/training_&_val.png" class="d-block w-100" alt="..." height="470px">
                              </div>
                              <div class="carousel-item">
                                <img src="../images/training_&_val_2.png" class="d-block w-100" alt="..." height="470px">
                              </div>
                              <div class="carousel-item">
                                <img src="../images/training_&_val_3.png" class="d-block w-100" alt="..." height="470px">
                              </div>
                              <div class="carousel-item">
                                <img src="../images/training_&_val_4.png" class="d-block w-100" alt="..." height="470px">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" style="background-color: lightgray;">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" style="background-color: lightgray;">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                    
                    <div class="col">
                        <div class="col" style="border-bottom: 1px solid black; ">
                            <img src="../images/decisionTree.png" alt="" srcset="" style="height: 230px;">
                        </div>

                        <div class="col" style="height: 15em;">
                            <img src="../images/feature_Importance.png" alt="" srcset="" style="height: 193px; justify-content: center;">
                        </div>
                    </div>
                </div>
                
                <!-- Dataframe table -->
                <div class="col" style="border: 1px solid black; width: 100%;">
                    <table border="1" class="dataframe" style="table-layout: fixed; width: 100%;">
                        <thead>
                          <tr style="text-align: left;">
                            <th></th>
                            <th>Loan_ID</th>
                            <th>Gender</th>
                            <th>Married</th>
                            <th>Dependents</th>
                            <th>Education</th>
                            <th>Self_Employed</th>
                            <th>ApplicantIncome</th>
                            <th>CoapplicantIncome</th>
                            <th>LoanAmount</th>
                            <th>Loan_Amount_Term</th>
                            <th>Credit_History</th>
                            <th>Property_Area</th>
                            <th>Loan_Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>0</th>
                            <td>LP001002</td>
                            <td>Male</td>
                            <td>No</td>
                            <td>0</td>
                            <td>Graduate</td>
                            <td>No</td>
                            <td>5849</td>
                            <td>0.0</td>
                            <td>NaN</td>
                            <td>360.0</td>
                            <td>1.0</td>
                            <td>Urban</td>
                            <td>Y</td>
                          </tr>
                          <tr>
                            <th>1</th>
                            <td>LP001003</td>
                            <td>Male</td>
                            <td>Yes</td>
                            <td>1</td>
                            <td>Graduate</td>
                            <td>No</td>
                            <td>4583</td>
                            <td>1508.0</td>
                            <td>128.0</td>
                            <td>360.0</td>
                            <td>1.0</td>
                            <td>Rural</td>
                            <td>N</td>
                          </tr>
                          <tr>
                            <th>2</th>
                            <td>LP001005</td>
                            <td>Male</td>
                            <td>Yes</td>
                            <td>0</td>
                            <td>Graduate</td>
                            <td>Yes</td>
                            <td>3000</td>
                            <td>0.0</td>
                            <td>66.0</td>
                            <td>360.0</td>
                            <td>1.0</td>
                            <td>Urban</td>
                            <td>Y</td>
                          </tr>
                          <tr>
                            <th>3</th>
                            <td>LP001006</td>
                            <td>Male</td>
                            <td>Yes</td>
                            <td>0</td>
                            <td>Not Graduate</td>
                            <td>No</td>
                            <td>2583</td>
                            <td>2358.0</td>
                            <td>120.0</td>
                            <td>360.0</td>
                            <td>1.0</td>
                            <td>Urban</td>
                            <td>Y</td>
                          </tr>
                          <tr>
                            <th>4</th>
                            <td>LP001008</td>
                            <td>Male</td>
                            <td>No</td>
                            <td>0</td>
                            <td>Graduate</td>
                            <td>No</td>
                            <td>6000</td>
                            <td>0.0</td>
                            <td>141.0</td>
                            <td>360.0</td>
                            <td>1.0</td>
                            <td>Urban</td>
                            <td>Y</td>
                          </tr>
                        </tbody>
                      </table>
                                            
                </div>

                <!-- Buttons -->
                <div class="row" style="margin-top: 20px; height: 60px;">
                    <button>
                        <a href="./univariates.html" target="_blank" style="color: black; text-decoration: none; font-size: 25px;">Univariate Analysis</a>
                    </button>
                </div>
                <div class="row" style="margin-top: 20px; height: 60px;">
                    <button>
                        <a href="./bivariates.html" target="_blank" style="color: black; text-decoration: none; font-size: 25px;">Bivariate analysis</a>
                    </button>
                </div>

                <div class="row">
                    <form action="">
                        <div class="row" style="margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: 30px; padding-left: 100px;">
                            <div class="col-2"> 
                                <label for="">Gender</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">Married</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">Dependants</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">Education</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">Self Employed</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label for="">ApplicantIncome</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">CoapplicantIncome</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">LoanAmount</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">Loan_Amount_Term</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">Credit_History</label>
                                <input type="text">
                            </div>
                            <div class="col-2">
                                <label for="">Property_Area</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="" style="margin-top: 20px;">
                            <button>
                                submit for answer
                            </button>
                        </div>
                    </form>
                </div>

                <div class="row" style="border: 1px solid black; height: 100px; text-align: center; margin-top: 20px;">
                    <h3>
                        Output
                    </h3>
                </div>
            </div>            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>